
body{
    background-image: url("hattermalac.jpg");
    background-color: rgb(255,255,255, 0.6);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.btn-primary {
    background-color: #6a5820;
    color: #fff;
    border: #421a06;
}

.btn-primary:hover {
    background-color: #421a06;
    color: #fff;
    border: #421a06
}

h1, h2{
    text-align: center;
    color: #421a06;
    font-size: 200 px ;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    opacity: 1;
    margin-bottom: 20px;
}

.login-container {
    width: 100%;
    max-width: 550px; 
    margin: 50px auto; 
    padding: 30px;
    border: 1px solid #f9d88a;
    border-radius: 10px;
    background-color: rgba(252, 238, 211, 0.88);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #421a06;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #f9d88a;
    border-radius: 3px;
}

.login-form button {
    padding: 8px 15px;
    background-color: #6a5820;
    color: #483e18;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #817464;
}

a {
    text-decoration: #e4ae62;
}
