* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #f0e6d9;
}
  
.header {
    position: relative;
    text-align: center;
    margin-bottom: 0; 
  }
  
.header img {
    width: 100%;
    height: auto;
    display: block;
  }
  
.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #421a06;
    border-radius: 5px;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    font-size: 100px;
    font-weight: bold;
  }

  .topnav {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #421a06;
    padding: 10px;
  }
  
  .topnav .nav-left a,
  .topnav .nav-right a {
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav .nav-left a:hover,
  .topnav .nav-right a:hover {
    color:#ffffff; 
    background-color: #1b0a02;
  }
  
  .nav-left {
    display: flex;
  }
  
  .nav-right {
    display: flex;
  }

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card form .form-control {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #6a5820;
    color: #fff;
    border: #421a06;
}

.btn-primary:hover {
    background-color: #421a06;
    color: #fff;
    border: #421a06
}

.table-primary,
.alert-primary,
.text-primary {
    color: #795548 !important;
    border-color: #6d4c41 !important; 
}

.table-primary th, .table-primary td {
    background-color: #a1887f !important;
}

a.text-primary {
    color: #795548 !important; 
}

a.text-primary:hover {
    color: #5d4037 !important; 
}
  