* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    position: relative;
    text-align: center;
    margin-bottom: 0; 
  }
  
  .header img {
    width: 100%;
    height: auto;
    display: block; 
  }
  
  .overlay-text {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    color: #421a06;
    border-radius: 5px;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    font-size: 100px;
    font-weight: bold;
  }
  
.topnav {
    height: 50px; 
    line-height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #421a06;
    padding: 10px;
  }
  
  .topnav .nav-left a,
  .topnav .nav-right a {
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav .nav-left a:hover,
  .topnav .nav-right a:hover {
    color:#ffffff; 
    background-color: #1b0a02;
  }
  
  .nav-left {
    display: flex;
  }
  
  .nav-right {
    display: flex;
  }

.text {
color:#1b0a02
}
body {
  background-color: #f0e6d9; 
}