{% load static %}
<!DOCTYPE html>
<html>

        <head>
        <title>{% block title %}Főoldal{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>

    <div class="header">
        <img src="{% static 'vadasz.jpg' %}" alt="Fejléc kép">
        <div class="overlay-text">Online beírókönyv</div>
    </div>
<div class="topnav">
    <div class="nav-right">
    <a href="{% url 'foglalas'%}">Foglalás</a>
    <a href="{% url 'foglalasaim'%}">Foglalásaim</a>
    <a href="{% url 'profil'%}">Vadászataim</a>
    <a href="{% url 'sajat_krotaliak'%}">Nagyvadazonosítóim</a>
    <a href="{% url 'post_list'%}">Fórum</a>
    
    </div>
    <div class="nav-left">
    <a href="{% url 'user-logout'%}">Kijelentkezés</a>
    </div>

    
</div>
<div>
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
</div>
    <h2 class="text-center mb-4">Vadászati idények</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <td colspan="2">NAGYVADFAJOK</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"><b>Gímszarvas</b></td>
                </tr>
                <tr>
                    <td>bika</td>
                    <td>szeptember 1. – január 31.</td>
                </tr>
                <tr>
                    <td>érett bika</td>
                    <td>szeptember 1. – október 31. </td>
                </tr>
                <tr>
                    <td>második éves bika (első felrakás)</td>
                    <td>szeptember 1. – március 31. </td>
                </tr>
                <tr>
                    <td>tehén</td>
                    <td>szeptember 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td>ünő</td>
                    <td>május 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td>borjú</td>
                    <td>szeptember 1. – április 30.</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Dámszarvas</b></td>
                </tr>
                <tr>
                    <td>bika</td>
                    <td>október 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td>érett bika</td>
                    <td>október 1. – november 30.</td>
                </tr>
                <tr>
                    <td>második éves bika (első felrakás)</td>
                    <td>október 1. – április 30.</td>
                </tr>
                <tr>
                    <td>tehén</td>
                    <td>október 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td>ünő</td>
                    <td>június 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td>borjú</td>
                    <td>október 1. – május 31.</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Őz</b></td>
                </tr>
                <tr>
                    <td>bak</td>
                    <td>április 15. – szeptember 30.</td>
                </tr>
                <tr>
                    <td>suta, gida</td>
                    <td>október 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td colspan="2"><b>Muflon</b></td>
                </tr>
                <tr>
                    <td>kos</td>
                    <td>egész éveben</td>
                </tr>
                <tr>
                    <td>juh, jerke, bárány</td>
                    <td>szeptember 1. – február utolsó napja</td>
                </tr>
                <tr>
                    <td><b>Vaddisznó</b></td>
                    <td>egész évben</td>
                </tr>
                <tr>
                    <td><b>Szikaszarvas</b></td>
                    <td>egész évben</td>
                </tr>
            </tbody>
        </table>
    </div>

<body>
    

</body>
</html>